<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Системне програмування. Побудова програм на мові SIPL</span>
        </h2>
        <span flex></span>
        <a href="data: {{exportData()}}" download="data.json">
          <md-button>Експортувати</md-button>
        </a>
        <span id="upload-container">
          <md-button uploadfile>
            Імпортувати
          </md-button>
          <input fileread="ifile" type="file" placeholder="Імпортувати" ng-show="false" id="upload">
        </span>
      </div>
  </md-toolbar>
<md-content  layout-fill>
<div layout="row"  layout-fill>
  
  <div flex="25">
  <md-button data-ng-click="rollback()" class="md-accent">
      <md-icon class="material-icons">undo</md-icon> 
      Відмінити останню дію
  </md-button>
  	<treecontrol class="tree-light"
	   tree-model="data"
	   options="treeOptions"
	   on-selection="showOptions(node, selected)"
	   expanded-nodes="expandedNodes">
	   <md-button ng-class="{'md-raised md-primary': equality(node, selectedNode)}">{{bnf[node.label].label || node.label}}</md-button>
	</treecontrol>
  </div>
  <div flex></div>
  <div flex="25" data-ng-show="showContext">
  	<h3>Виберіть дію</h3>
  	<md-radio-group ng-model="selectedOption">
      <md-radio-button ng-repeat="option in context"
                       ng-value="option">
          <span data-ng-repeat="(key, el) in option track by $index">{{bnf[el].label}} </span>
      </md-radio-button>
    </md-radio-group>
    <md-button data-ng-click="addNodes()" flex="100" class="md-raised md-warn">
    	Добавити
	</md-button>
  </div>
  <div flex="25" data-ng-show="showEditContext">
    <div>
    	<md-input-container>
          <label>Введіть значення</label>
          <input type="text" ng-model="valueNodeLabel">
       </md-input-container>
     </div>
    <md-button data-ng-click="addValue()" flex="100" class="md-raised md-warn">
    	Добавити
	</md-button>
  </div>
  
<div layout="column" flex="50"  layout-fill>

	<md-switch ng-model="showProgramText" aria-label="Switch" id="code-graph-toggle">
	    Переключити режим
	</md-switch>
  <div  ng-show="!showProgramText"  style="height: 100%" >
  	<svg id="svg-canvas" class="main-svg" style="height: 83%; overflow: hidden" tree-graph data="data" indicator="showProgramText" bnf="bnf"></svg>
  </div>

  <div style="font-size:25px;" ng-show="showProgramText" program-code data="data"></div>
    
  </div>

	</div>
</div>
</md-content>



